<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ImageEditor</title>
    <meta name="author" content="crzdvl" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>

  <body>
    <div class="section">
      <div class="container" style="margin-top: 15%; text-align: center">
        <h5>OPPSS...</h5>
        <h3>Something get wrong</h3>
        <a class="button-redirect" href="/v1/searchGiphsPage"
          >Go to main page :)</a
        >
      </div>
    </div>
  </body>
</html>
