<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Giphs</title>
    <meta name="author" content="crzdvl" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>
  <body>
    <div class="section">
      <div class="container" style="margin-top: 5%; text-align: center">
        <% if (message) {%>
        <h5 style="color: red"><%= message %></h5>
        <% } %>
        <form
          action="/v1/searchGiphs"
          method="GET"
          style="margin: auto; width: 40%; margin-top: 2rem"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

          <input
            class="u-full-width"
            type="text"
            name="query"
            value="<%= query %>"
            required
          />

          <select id="selectList" name="watermark">
            <option value="false">without watermark</option>
            <option value="true">with watermark</option>
          </select>
          <input class="button-primary" type="submit" value="Submit" />
        </form>
      </div>
      <% if (photos.length) {%>
        <div class="container">
          <div class="row">
            <% photos.forEach((giph) => {%>
              <img src="/store/<%=giph%>.gif" width="200px">
            <% }) %>
          </div>
        <% } %>
    </div>
  </body>
</html>
